@font-face {
  font-family: NotoSans-Regular;
  src: url("./../public/fonts/NotoSans-Regular.ttf"); }

@font-face {
  font-family: NotoSans-Bold;
  src: url("./../public/fonts/NotoSans-Bold.ttf"); }

@font-face {
  font-family: Raleway;
  src: url("./../public/fonts/Raleway.ttf"); }

@font-face {
  font-family: Raleway-Dots;
  src: url("./../public/fonts/RalewayDots.ttf"); }

@font-face {
  font-family: Russo-One;
  src: url("./../public/fonts/RussoOne-Regular.ttf"); }

@font-face {
  font-family: Caveat-Bold;
  src: url("./../public/fonts/Caveat-Bold.ttf"); }

.italic-text {
  font-style: italic; }

.bold-regular-text {
  font-family: "NotoSans-Bold";
  position: relative;
  bottom: 2px; }

.bold-italic-text {
  font-family: "NotoSans-Bold";
  position: relative;
  bottom: 2px;
  font-style: italic; }

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  vertical-align: middle;
  box-sizing: border-box;
  font-family: inherit;
  font-weight: inherit;
  font-style: inherit;
  font-size: inherit; }

*::-webkit-scrollbar {
  background-color: #fee257; }

*::-webkit-scrollbar-thumb {
  background: linear-gradient(to right, transparent, #fee257, #141e46, #fee257, transparent);
  border-radius: 45%; }

*::-webkit-scrollbar-track {
  margin: 1rem 0; }

ol, ul {
  list-style: none; }

a:link, a:visited,
a:hover, a:active {
  color: #141e46; }

a:hover {
  text-shadow: 0 -0.15rem 2rem #141e46; }

html, body {
  background-color: #fff;
  color: #141e46; }

html {
  font-family: NotoSans-Regular;
  font-size: 50%;
  /* 1rem equals to 8px */ }

.xCloser {
  transform: rotate(45deg); }

.align-left {
  text-align: left; }

.align-right {
  text-align: right; }

.margin-block20 {
  margin: 2rem 0; }

.flex-container--row {
  display: flex;
  align-items: center; }

.flex-container--column {
  display: flex;
  flex-direction: column;
  align-items: center; }

.flex-start {
  justify-content: flex-start; }

.flex-center {
  justify-content: center; }

.flex-between {
  justify-content: space-between; }

.flex-around {
  justify-content: space-around; }

.scroll-block {
  overflow: hidden; }
  .scroll-block--dark {
    filter: brightness(0.3);
    pointer-events: none; }

@keyframes text-highlight {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes btn-pulsate {
  0% {
    box-shadow: 0 0 0 #fee257;
    box-shadow: 0 0 0 #fee257;
    box-shadow: 0 0 0 #fee257;
    box-shadow: 0 0 0 #fee257;
    text-shadow: 0 -0.15rem 1rem rgba(20, 30, 70, 0.5);
    text-shadow: 0 0.15rem 1rem rgba(20, 30, 70, 0.5);
    text-shadow: -0.15rem 0 1rem rgba(20, 30, 70, 0.5);
    text-shadow: 0.15rem 0 1rem rgba(20, 30, 70, 0.5); }
  50% {
    box-shadow: 0 -0.15rem 1rem #fee257;
    box-shadow: 0 0.15rem 1rem #fee257;
    box-shadow: -0.15rem 0 1rem #fee257;
    box-shadow: 0.15rem 0 1rem #fee257;
    text-shadow: 0 -0.15rem 5rem rgba(20, 30, 70, 0.5);
    text-shadow: 0 0.15rem 5rem rgba(20, 30, 70, 0.5);
    text-shadow: -0.15rem 0 5rem rgba(20, 30, 70, 0.5);
    text-shadow: 0.15rem 0 5rem rgba(20, 30, 70, 0.5); }
  100% {
    box-shadow: 0 0 0 #fee257;
    box-shadow: 0 0 0 #fee257;
    box-shadow: 0 0 0 #fee257;
    box-shadow: 0 0 0 #fee257;
    text-shadow: 0 -0.15rem 1rem rgba(20, 30, 70, 0.5);
    text-shadow: 0 0.15rem 1rem rgba(20, 30, 70, 0.5);
    text-shadow: -0.15rem 0 1rem rgba(20, 30, 70, 0.5);
    text-shadow: 0.15rem 0 1rem rgba(20, 30, 70, 0.5); } }

@keyframes btn-pulsate-success {
  0% {
    box-shadow: 0 0 0 #748e63;
    box-shadow: 0 0 0 #748e63;
    box-shadow: 0 0 0 #748e63;
    box-shadow: 0 0 0 #748e63;
    text-shadow: 0 -0.15rem 1rem rgba(20, 30, 70, 0.5);
    text-shadow: 0 0.15rem 1rem rgba(20, 30, 70, 0.5);
    text-shadow: -0.15rem 0 1rem rgba(20, 30, 70, 0.5);
    text-shadow: 0.15rem 0 1rem rgba(20, 30, 70, 0.5); }
  50% {
    box-shadow: 0 -0.15rem 1rem #748e63;
    box-shadow: 0 0.15rem 1rem #748e63;
    box-shadow: -0.15rem 0 1rem #748e63;
    box-shadow: 0.15rem 0 1rem #748e63;
    text-shadow: 0 -0.15rem 5rem rgba(20, 30, 70, 0.5);
    text-shadow: 0 0.15rem 5rem rgba(20, 30, 70, 0.5);
    text-shadow: -0.15rem 0 5rem rgba(20, 30, 70, 0.5);
    text-shadow: 0.15rem 0 5rem rgba(20, 30, 70, 0.5); }
  100% {
    box-shadow: 0 0 0 #748e63;
    box-shadow: 0 0 0 #748e63;
    box-shadow: 0 0 0 #748e63;
    box-shadow: 0 0 0 #748e63;
    text-shadow: 0 -0.15rem 1rem rgba(20, 30, 70, 0.5);
    text-shadow: 0 0.15rem 1rem rgba(20, 30, 70, 0.5);
    text-shadow: -0.15rem 0 1rem rgba(20, 30, 70, 0.5);
    text-shadow: 0.15rem 0 1rem rgba(20, 30, 70, 0.5); } }

@keyframes btn-pulsate-alert {
  0% {
    box-shadow: 0 0 0 #e83f3c;
    box-shadow: 0 0 0 #e83f3c;
    box-shadow: 0 0 0 #e83f3c;
    box-shadow: 0 0 0 #e83f3c;
    text-shadow: 0 -0.15rem 1rem rgba(20, 30, 70, 0.5);
    text-shadow: 0 0.15rem 1rem rgba(20, 30, 70, 0.5);
    text-shadow: -0.15rem 0 1rem rgba(20, 30, 70, 0.5);
    text-shadow: 0.15rem 0 1rem rgba(20, 30, 70, 0.5); }
  50% {
    box-shadow: 0 -0.15rem 1rem #e83f3c;
    box-shadow: 0 0.15rem 1rem #e83f3c;
    box-shadow: -0.15rem 0 1rem #e83f3c;
    box-shadow: 0.15rem 0 1rem #e83f3c;
    text-shadow: 0 -0.15rem 5rem rgba(20, 30, 70, 0.5);
    text-shadow: 0 0.15rem 5rem rgba(20, 30, 70, 0.5);
    text-shadow: -0.15rem 0 5rem rgba(20, 30, 70, 0.5);
    text-shadow: 0.15rem 0 5rem rgba(20, 30, 70, 0.5); }
  100% {
    box-shadow: 0 0 0 #e83f3c;
    box-shadow: 0 0 0 #e83f3c;
    box-shadow: 0 0 0 #e83f3c;
    box-shadow: 0 0 0 #e83f3c;
    text-shadow: 0 -0.15rem 1rem rgba(20, 30, 70, 0.5);
    text-shadow: 0 0.15rem 1rem rgba(20, 30, 70, 0.5);
    text-shadow: -0.15rem 0 1rem rgba(20, 30, 70, 0.5);
    text-shadow: 0.15rem 0 1rem rgba(20, 30, 70, 0.5); } }

.header__logo.liftoff,
.header__logo--home.liftoff {
  transform: translateY(2px) rotate(0); }
  .header__logo.liftoff--complete,
  .header__logo--home.liftoff--complete {
    transform: translateY(2px) rotate(0);
    transition: .5s; }

.btn-pressed {
  transform: scale(0.65); }

@keyframes complete-rotation {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes icon-pulsation {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(0.75); }
  100% {
    transform: scale(1); } }

.header {
  background: linear-gradient(to right, #141e46, #faf8ed);
  position: fixed;
  width: 100%;
  padding: 1rem 2rem;
  transition: height 1s;
  z-index: 10; }
  .header .flex-container--row {
    width: inherit; }
  .header[data-status="expanded"] {
    height: 100%;
    overflow: hidden; }
    .header[data-status="expanded"] .flex-container--row:not(.header__langSelector) {
      flex-direction: column;
      align-items: flex-start;
      height: 100%; }
    .header[data-status="expanded"] .header__container--layer1 {
      justify-content: flex-start; }
    .header[data-status="expanded"] .header__container--layer2a {
      flex: 0.85; }
    @media only screen and (max-width: 950px) {
      .header[data-status="expanded"] .header__nav {
        display: flex; }
        .header[data-status="expanded"] .header__nav .nav__element {
          margin: 1.5rem 0 0 2rem;
          transition: all .2s;
          /* &:not(.nav__element:last-child, .nav__element p):hover {
                        transform: translateX(2rem);
                    } */ }
          .header[data-status="expanded"] .header__nav .nav__element:first-child {
            margin-top: 3rem; }
          .header[data-status="expanded"] .header__nav .nav__element--inactive:hover {
            transform: translateX(2rem); }
          .header[data-status="expanded"] .header__nav .nav__element .nav__link {
            font-size: 3rem; }
      .header[data-status="expanded"] .header__langSelector {
        display: flex;
        margin-left: 2rem; } }
  @media only screen and (max-width: 950px) {
    .header[data-status="contracted"] .header__nav {
      display: none; }
    .header[data-status="contracted"] .header__langSelector {
      display: none; } }
  .header__logo {
    width: 100%;
    max-width: 8rem;
    position: relative;
    transition: all 2s; }
    .header__logo--home {
      transform: translateY(101vh) rotate(0); }
    .header__logo:hover {
      cursor: pointer;
      transform: translateY(0) rotate(45deg); }
  .header svg {
    display: none; }
  @media only screen and (max-width: 950px) {
    .header svg[data-status="active"] {
      display: block;
      width: 5rem;
      height: 5rem;
      position: absolute;
      top: 2rem;
      right: 2rem;
      transition: all .5s; }
    .header svg.scale-down {
      transform: scale(0.1); }
    .header svg.scale-up {
      transform: scale(1); }
    .header svg.mobileManager__xCloser.scale-up {
      transform: scale(1) rotate(45deg); }
    .header svg.mobileManager__xCloser.scale-down {
      transform: scale(0.1) rotate(45deg); } }
  .header .nav__element:first-child {
    margin-left: 3rem; }
  .header .nav__element:not(.nav__element:last-child) {
    margin-right: 3rem; }
  .header .nav__link {
    font-size: 1.75rem;
    font-family: "Raleway";
    font-weight: 400;
    text-transform: uppercase;
    color: #fff;
    background-color: transparent;
    transition: all .5s;
    cursor: default; }
    .header .nav__link:not(.nav__link--active):hover {
      cursor: pointer;
      font-size: 2.25rem;
      font-weight: 800;
      text-shadow: 0 -0.15rem 3px #fff;
      text-shadow: 0 0.15rem 3px #fff;
      text-shadow: -0.15rem 0 3px #fff;
      text-shadow: 0.15rem 0 3px #fff; }
    .header .nav__link:link, .header .nav__link:visited, .header .nav__link:hover, .header .nav__link:active {
      color: #fff;
      text-decoration: none; }
    .header .nav__link--active:link, .header .nav__link--active:visited, .header .nav__link--active:hover, .header .nav__link--active:active {
      font-size: 1.6rem;
      color: #fee257; }
  .header__langSelector {
    flex: .15;
    min-width: 10rem;
    max-width: 12.5rem; }
    .header__langSelector .langSelector__btn {
      background-color: transparent; }
    .header__langSelector .langSelector__icon {
      width: 100%;
      max-width: 3rem;
      transition: all .2s;
      border-radius: 10rem; }
      .header__langSelector .langSelector__icon:hover {
        cursor: pointer;
        max-width: 4rem; }
      .header__langSelector .langSelector__icon[data-status="selected"] {
        transform: scale(0.65); }

.content-frame {
  background-color: #faf8ed;
  padding: 10rem 4rem 2rem;
  max-width: 250rem;
  position: relative;
  margin: 0 auto; }
  .content-frame__buffer {
    height: 7.5vh; }

@media only screen and (min-width: 1800px) {
  .content-frame {
    min-height: 100vh; }
    .content-frame__buffer {
      height: 7.5vh; } }

.footer {
  background: linear-gradient(to right, #141e46, #faf8ed);
  padding: 0 3rem; }
  .footer__content {
    padding: 6rem 0; }
  .footer__logo {
    width: 100%;
    max-width: 4rem; }
  .footer__link:not(.footer__link:last-child) {
    margin-right: 2rem; }
  .footer__link:hover {
    cursor: pointer; }
  .footer .link__icon {
    height: 6rem;
    width: 6rem; }

.subfooter {
  background-color: #000;
  padding: 1rem 2rem;
  margin: 0 -3rem;
  font-family: "Raleway";
  font-size: 1.2rem;
  color: #fff;
  text-align: center; }
  .subfooter__link:link, .subfooter__link:active, .subfooter__link:visited, .subfooter__link:hover {
    color: #fff; }
  .subfooter__link:hover {
    cursor: pointer; }
  .subfooter__maker {
    font-family: "Russo-One";
    font-size: 2rem;
    margin-left: 1rem;
    margin-right: .5rem; }
  .subfooter__makerLogo {
    width: 100%;
    max-width: 3rem;
    position: relative;
    bottom: 1px; }

.block-section {
  background-color: #faf8ed;
  font-size: 1.6rem;
  margin-bottom: 5rem; }
  .block-section:not(.block-section:last-child) {
    margin-bottom: 5rem; }
  .block-section__band {
    background: linear-gradient(to right, #141e46, #faf8ed);
    padding: 6rem;
    margin: 0 -4rem;
    margin-bottom: 5rem; }
    .block-section__band .cta-button {
      min-width: 35rem; }
  .block-section .articleContainer {
    align-items: stretch;
    text-align: center; }
    .block-section .articleContainer__standard {
      width: 100%;
      padding: 4rem;
      background-color: #fae7c9;
      border-radius: 2rem;
      font-size: 2rem; }
    .block-section .articleContainer__figure {
      width: 30%;
      min-height: 40rem;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 2rem; }
    .block-section .articleContainer__textContainer {
      width: 67.5%;
      padding: 4rem;
      background-color: #fae7c9;
      border-radius: 2rem;
      font-size: 2rem; }
      .block-section .articleContainer__textContainer p:not(p:last-child) {
        margin-bottom: 1.5rem; }
    .block-section .articleContainer__title {
      font-family: "Raleway";
      text-transform: uppercase;
      font-size: 3rem;
      font-weight: 700; }
  .block-section .form {
    background-color: rgba(20, 30, 70, 0.7);
    color: #faf8ed;
    border-radius: 2rem;
    font-size: 2.5rem;
    padding: 4rem; }
    .block-section .form div {
      width: 100%; }
    .block-section .form__title {
      text-transform: uppercase;
      font-family: "Raleway";
      font-weight: 700;
      font-size: 5rem; }
    .block-section .form__note {
      font-size: 1.5rem; }
    .block-section .form__container {
      width: 37.5%;
      margin-top: 4rem; }
    .block-section .form__column:not(.form__column:last-child) {
      margin-right: 2rem; }
    .block-section .form__label {
      margin-bottom: 1rem; }
    .block-section .form__input, .block-section .form__select {
      width: 100%;
      background-color: #faf8ed;
      color: #141e46;
      border: 3px solid rgba(20, 30, 70, 0.7);
      border-radius: 1.5rem;
      padding: .5rem 2rem;
      font-size: 2rem;
      margin-bottom: 2rem; }
      .block-section .form__input:focus, .block-section .form__select:focus {
        border: 3px solid #fee257; }
      .block-section .form__input--highlighted, .block-section .form__select--highlighted {
        border: 3px solid #e83f3c; }
      .block-section .form__input::placeholder, .block-section .form__select::placeholder {
        font-size: 1.5rem; }
      .block-section .form__input:-webkit-autofill, .block-section .form__input:-webkit-autofill:hover, .block-section .form__input:-webkit-autofill:focus, .block-section .form__select:-webkit-autofill, .block-section .form__select:-webkit-autofill:hover, .block-section .form__select:-webkit-autofill:focus {
        background-color: #faf8ed;
        -webkit-text-fill-color: #141e46;
        transition: background-color 5000s ease-in-out 0s; }
      .block-section .form__input--textarea, .block-section .form__select--textarea {
        width: 100%;
        resize: none; }
        .block-section .form__input--textarea::-webkit-scrollbar, .block-section .form__select--textarea::-webkit-scrollbar {
          background-color: #faf8ed;
          border-top-right-radius: 1.5rem;
          border-bottom-right-radius: 1.5rem; }
        .block-section .form__input--textarea::-webkit-scrollbar-thumb, .block-section .form__select--textarea::-webkit-scrollbar-thumb {
          background: linear-gradient(to right, transparent, #faf8ed, #141e46, #faf8ed, transparent); }
    .block-section .form__select {
      padding: .35rem 2rem; }
      .block-section .form__select .select__group {
        display: block; }
        .block-section .form__select .select__group--hidden {
          display: none; }
    .block-section .form__alert {
      background-color: #fff5e0;
      color: #141e46;
      font-size: 1.6rem;
      border-radius: 1.5rem;
      text-align: left;
      padding: 2rem;
      margin-bottom: 2rem; }
      .block-section .form__alert--success {
        border: 3px solid #748e63; }
      .block-section .form__alert--error {
        border: 3px solid #e83f3c; }
      .block-section .form__alert--inactive {
        display: none; }
      .block-section .form__alert .alert__list {
        list-style: inside;
        margin-left: 2rem;
        margin-top: 1rem; }
        .block-section .form__alert .alert__list li .bold-regular-text {
          text-transform: uppercase; }
    .block-section .form__button {
      width: 48%; }
    .block-section .form__footnote {
      font-size: 1.75rem;
      margin-top: 3rem;
      font-style: italic; }
  .block-section .unfolding-content, .block-section .regular-content {
    position: relative; }
    .block-section .unfolding-content__header, .block-section .regular-content__header {
      width: 100%;
      padding: 4rem 0; }
      .block-section .unfolding-content__header .header__img, .block-section .regular-content__header .header__img {
        width: 100%;
        max-width: 20rem; }
        .block-section .unfolding-content__header .header__img--booking, .block-section .regular-content__header .header__img--booking {
          max-width: 10rem; }
      .block-section .unfolding-content__header .header__title, .block-section .regular-content__header .header__title {
        font-family: "Raleway";
        font-size: 5rem;
        font-weight: 900;
        text-transform: uppercase; }
    .block-section .unfolding-content__body, .block-section .regular-content__body {
      padding: 4rem 6rem;
      transition: max-height 2s, opacity 3s, padding 2s;
      overflow: hidden; }
      .block-section .unfolding-content__body .body__shrink, .block-section .regular-content__body .body__shrink {
        width: 5rem;
        height: 5rem;
        position: absolute;
        top: -2rem;
        right: 2rem;
        transition: width .2s, height .2s, transform 1s, opacity 1s; }
        .block-section .unfolding-content__body .body__shrink:hover, .block-section .regular-content__body .body__shrink:hover {
          cursor: pointer; }
        .block-section .unfolding-content__body .body__shrink.clicked, .block-section .regular-content__body .body__shrink.clicked {
          width: 3rem;
          height: 3rem; }
      .block-section .unfolding-content__body .body__band, .block-section .regular-content__body .body__band {
        background-color: #141e46;
        padding: 4rem 0;
        margin: 4rem -6rem; }
      .block-section .unfolding-content__body .body__table, .block-section .regular-content__body .body__table {
        background-color: rgba(20, 30, 70, 0.7);
        border-radius: 2rem;
        padding: 2rem;
        display: grid;
        gap: 1rem; }
        .block-section .unfolding-content__body .body__table .table__element, .block-section .regular-content__body .body__table .table__element {
          border-radius: 2rem;
          min-height: 12.5rem;
          display: flex;
          flex-direction: column;
          justify-content: center; }
          .block-section .unfolding-content__body .body__table .table__element--thick, .block-section .regular-content__body .body__table .table__element--thick {
            justify-content: space-between; }
          .block-section .unfolding-content__body .body__table .table__element--category, .block-section .regular-content__body .body__table .table__element--category {
            background-color: #99b080;
            text-transform: uppercase;
            font-family: "NotoSans-Bold"; }
          .block-section .unfolding-content__body .body__table .table__element--feature, .block-section .regular-content__body .body__table .table__element--feature {
            background-color: #e1c78f;
            font-family: "NotoSans-Bold"; }
          .block-section .unfolding-content__body .body__table .table__element .table__ad, .block-section .regular-content__body .body__table .table__element .table__ad {
            text-transform: uppercase;
            font-family: "NotoSans-Bold";
            color: #748e63;
            animation-name: text-highlight;
            animation-timing-function: linear;
            animation-duration: 1s;
            animation-iteration-count: infinite; }
        .block-section .unfolding-content__body .body__table .table-btn, .block-section .regular-content__body .body__table .table-btn {
          font-size: 1.25rem;
          padding: 1rem 2rem;
          margin-top: 1rem; }
      .block-section .unfolding-content__body .body__block:not(.body__block:last-child), .block-section .regular-content__body .body__block:not(.body__block:last-child) {
        margin-bottom: 3rem; }
      .block-section .unfolding-content__body .body__list, .block-section .regular-content__body .body__list {
        list-style-type: auto;
        margin-left: 4rem;
        margin-block: 2rem; }
      .block-section .unfolding-content__body .body__title, .block-section .unfolding-content__body .body__subtitle, .block-section .regular-content__body .body__title, .block-section .regular-content__body .body__subtitle {
        bottom: 0; }
      .block-section .unfolding-content__body .body__title, .block-section .regular-content__body .body__title {
        text-transform: uppercase; }
        .block-section .unfolding-content__body .body__title--bigger, .block-section .regular-content__body .body__title--bigger {
          font-size: 3rem; }
      .block-section .unfolding-content__body .body__paragraph, .block-section .regular-content__body .body__paragraph {
        margin-bottom: 1.5rem; }
      .block-section .unfolding-content__body .body__btnContainer, .block-section .regular-content__body .body__btnContainer {
        padding-top: 5rem; }
        .block-section .unfolding-content__body .body__btnContainer .cta-button, .block-section .regular-content__body .body__btnContainer .cta-button {
          min-width: 35rem; }
          .block-section .unfolding-content__body .body__btnContainer .cta-button:first-child, .block-section .regular-content__body .body__btnContainer .cta-button:first-child {
            margin-right: 4rem; }
      .block-section .unfolding-content__body .table__caption, .block-section .regular-content__body .table__caption {
        margin-bottom: 1rem;
        text-transform: uppercase;
        font-size: 2.5rem;
        font-family: "NotoSans-Bold"; }
        .block-section .unfolding-content__body .table__caption span, .block-section .regular-content__body .table__caption span {
          font-size: 1.75rem;
          font-family: "NotoSans-Regular";
          position: relative;
          bottom: 2px; }
  .block-section .unfolding-content[data-status="contracted"]:hover {
    cursor: pointer;
    outline: 5px solid #141e46; }
  .block-section .unfolding-content[data-status="contracted"] .unfolding-content__header:hover .header__img {
    animation-timing-function: linear;
    animation-iteration-count: infinite; }
    .block-section .unfolding-content[data-status="contracted"] .unfolding-content__header:hover .header__img#teamwork-icon {
      animation-name: complete-rotation;
      animation-duration: 2s; }
    .block-section .unfolding-content[data-status="contracted"] .unfolding-content__header:hover .header__img#superhero-icon {
      animation-name: icon-pulsation;
      animation-duration: 1.25s; }
  .block-section .unfolding-content[data-status="contracted"] .unfolding-content__body {
    max-height: 0;
    opacity: 0;
    padding: 0 6rem; }
  .block-section .unfolding-content[data-status="contracted"] .body__shrink {
    opacity: 0;
    transform: translateY(-2rem); }
  .block-section .unfolding-content[data-status="expanded"] .unfolding-content__body {
    max-height: 200rem;
    opacity: 1;
    padding: 4rem 6rem; }
  .block-section .unfolding-content[data-status="expanded"] .body__shrink {
    opacity: 1;
    transform: translateY(4rem); }

.cta-button {
  background-color: #fee257;
  color: #141e46;
  font-size: 1.75rem;
  text-decoration: none;
  padding: 1rem 4rem;
  border-radius: 2rem;
  transition: all .2s; }
  .cta-button:hover, .cta-button.pulsing {
    cursor: pointer;
    animation-name: btn-pulsate;
    animation-timing-function: linear;
    animation-duration: 1s;
    animation-iteration-count: infinite; }
  .cta-button--success {
    background-color: #748e63; }
    .cta-button--success:hover, .cta-button--success.pulsing {
      animation-name: btn-pulsate-success; }
  .cta-button--alert {
    background-color: #e83f3c; }
    .cta-button--alert:hover, .cta-button--alert.pulsing {
      animation-name: btn-pulsate-alert; }
  .cta-button.pressed {
    transform: translateY(0.25rem) scale(0.9);
    box-shadow: 0 1rem 3rem #141e46;
    animation-name: none;
    filter: brightness(0.95); }
    .cta-button.pressed.referrals__button {
      transform: translateX(-50%) translateY(0.25rem) scale(0.9);
      box-shadow: 0 1rem 3rem #000; }
    .cta-button.pressed.in-band {
      box-shadow: 0 1rem 3rem #000; }
  .cta-button.highlighted {
    text-transform: uppercase;
    font-family: "NotoSans-Bold";
    animation-name: btn-pulsate;
    animation-timing-function: linear;
    animation-duration: 1s;
    animation-iteration-count: infinite; }
    .cta-button.highlighted.cta-button--success {
      animation-name: btn-pulsate-success; }
    .cta-button.highlighted.cta-button--alert {
      animation-name: btn-pulsate-alert; }
  .cta-button.disabled {
    opacity: 0.5;
    animation-name: none; }
    .cta-button.disabled:hover {
      cursor: not-allowed; }
  .cta-button.social-button img {
    width: 2.5rem;
    height: 2.5rem;
    margin-left: 1rem; }
  .cta-button.social-button:hover {
    animation-name: none;
    text-shadow: none;
    padding: 1rem 6rem; }

.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%) scale(0.2);
  height: 50rem;
  width: 50rem;
  overflow: auto;
  padding: 5rem 4rem 5rem;
  border: 5px solid #141e46;
  border-radius: 2rem;
  font-size: 1.4rem;
  text-align: center;
  background-color: #faf8ed;
  transition: all .75s; }
  .popup::-webkit-scrollbar {
    background-color: #faf8ed;
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem; }
  .popup::-webkit-scrollbar-thumb {
    background: linear-gradient(to right, transparent, #faf8ed, #141e46, #faf8ed, transparent); }
  @media only screen and (max-width: 950px) {
    .popup {
      height: 100vh;
      width: 100vw;
      top: 0;
      left: 0;
      transform: translate(0, 0) scale(0.2);
      border-radius: 0;
      z-index: 20; } }
  .popup--appearing {
    transform: translate(-50%, -40%) scale(1); }
  @media only screen and (max-width: 950px) {
    .popup--appearing {
      transform: translate(0, 0) scale(1); } }
  .popup--disappearing {
    transform: translate(-50%, -40%) scale(0); }
  @media only screen and (max-width: 950px) {
    .popup--disappearing {
      transform: translate(0, 0) scale(0); } }
  .popup__xCloser {
    position: absolute;
    top: 2rem;
    right: 2rem;
    width: 5rem;
    height: 5rem; }
    .popup__xCloser:hover {
      cursor: pointer; }
  .popup__logo {
    width: 100%;
    max-width: 15rem; }
  .popup__content {
    transition: all 1s; }
    .popup__content--appearing {
      opacity: 1; }
    .popup__content--disappearing {
      opacity: 0; }
  .popup__block {
    margin-top: 4rem; }
  .popup__title {
    width: 100%;
    position: absolute;
    top: 5.5rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2rem;
    text-transform: uppercase; }
    .popup__title span {
      font-size: 1.5rem; }
  .popup__subtitle {
    text-transform: uppercase;
    text-decoration: underline; }
  .popup__text, .popup__list {
    margin-bottom: 1rem; }
  .popup__text.bold span, .popup__text a {
    font-family: "NotoSans-Bold";
    position: relative;
    bottom: 1.5px; }
  .popup__text.contact-detail {
    margin-bottom: 0;
    display: block; }
  @media only screen and (max-width: 950px) {
    .popup__text {
      text-align: left; } }
  .popup__ad {
    text-transform: uppercase;
    color: #748e63;
    animation-name: text-highlight;
    animation-timing-function: linear;
    animation-duration: 1.5s;
    animation-iteration-count: infinite; }
    .popup__ad--clickable {
      color: #e83f3c;
      background-color: transparent;
      font-family: "NotoSans-Bold"; }
      .popup__ad--clickable:hover {
        cursor: pointer;
        text-shadow: 0 -0.15rem 1rem #e83f3c;
        text-shadow: 0 0.15rem 1rem #e83f3c;
        text-shadow: -0.15rem 0 1rem #e83f3c;
        text-shadow: 0.15rem 0 1rem #e83f3c; }
  .popup__disclaimer {
    color: #e83f3c; }
  .popup__figure:not(.popup__figure:last-child) {
    margin-bottom: 1rem; }
  .popup__figure .popup__socialLink {
    height: 100%;
    display: inline-block; }
    .popup__figure .popup__socialLink .socialLink__icon {
      width: 12rem;
      height: 12rem;
      border-radius: 2rem; }
      .popup__figure .popup__socialLink .socialLink__icon:active {
        transform: scale(0.5); }
      .popup__figure .popup__socialLink .socialLink__icon:hover {
        cursor: pointer;
        box-shadow: 0 -0.15rem 1rem #141e46; }
  .popup .form__container {
    margin-top: 4rem; }
  .popup .form__label {
    margin-bottom: 1rem;
    font-size: 2rem; }
  .popup .form__input, .popup .form__select {
    width: 75%;
    background-color: #fae7c9;
    color: #141e46;
    border: 3px solid #faf8ed;
    border-radius: 1.5rem;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    margin-bottom: 2rem; }
    .popup .form__input:focus, .popup .form__select:focus {
      border: 3px solid #141e46; }
    .popup .form__input--highlighted, .popup .form__select--highlighted {
      border: 3px solid #e83f3c; }
    .popup .form__input::placeholder, .popup .form__select::placeholder {
      font-size: 1.5rem; }
    .popup .form__input:-webkit-autofill, .popup .form__input:-webkit-autofill:hover, .popup .form__input:-webkit-autofill:focus, .popup .form__select:-webkit-autofill, .popup .form__select:-webkit-autofill:hover, .popup .form__select:-webkit-autofill:focus {
      background-color: #fae7c9;
      -webkit-text-fill-color: #141e46;
      transition: background-color 5000s ease-in-out 0s; }
  .popup .form__select {
    padding: .8rem 2rem; }
  .popup .form__alert {
    background-color: #e1c78f;
    color: #141e46;
    font-size: 1.6rem;
    border-radius: 3rem;
    text-align: left;
    padding: 2rem;
    margin-bottom: 2rem; }
    .popup .form__alert--success {
      border: 3px solid #748e63; }
    .popup .form__alert--error {
      border: 3px solid #e83f3c; }
    .popup .form__alert--inactive {
      display: none; }
    .popup .form__alert .alert__list {
      list-style: inside;
      margin-left: 2rem;
      margin-top: 1rem; }
      .popup .form__alert .alert__list li .bold-regular-text {
        text-transform: uppercase; }
  .popup__list {
    text-align: left;
    margin-left: 4rem;
    list-style-type: disc; }
    .popup__list--pricing {
      text-align: center;
      margin-left: 0;
      list-style-type: none; }
    .popup__list .list__element--pricing {
      margin: 4rem 0; }
  .popup__footnote {
    font-family: "NotoSans-Bold";
    margin-top: 4rem;
    font-style: italic; }
  .popup .cta-button {
    text-decoration: none;
    min-width: 27rem; }
    .popup .cta-button.positioned {
      margin: -4rem 0 0; }

.banner {
  text-align: center;
  margin: 0 auto 3rem; }
  .banner-horizontal {
    width: 100%;
    max-width: 80rem; }

@media only screen and (min-width: 1800px) {
  .banner-horizontal {
    position: absolute;
    bottom: 3rem;
    left: 50%;
    transform: translateX(-50%); } }

.carousel__container {
  position: relative; }
  .carousel__container:hover, .carousel__container:focus {
    cursor: not-allowed;
    filter: brightness(0.75); }
    .carousel__container:hover .carousel__alert, .carousel__container:focus .carousel__alert {
      display: inline; }

.carousel__alert {
  position: absolute;
  color: #e83f3c;
  left: 0;
  top: 50%;
  transform: translateY(-50%) rotate(-90deg);
  font-size: 3rem;
  font-style: italic;
  text-transform: uppercase;
  display: none; }

.carousel__unit {
  text-align: center; }

.carousel__img {
  width: 100%;
  max-width: 20rem;
  margin: 0 auto; }

.carousel__text {
  text-transform: uppercase;
  font-family: "Raleway";
  font-size: 1.5rem;
  font-weight: 700; }

.home__heading {
  margin: 0 -4rem;
  height: calc(100vh - 10rem);
  max-height: 80rem;
  color: #faf8ed;
  position: relative; }

.home .heading__background {
  background-image: linear-gradient(to right, rgba(20, 30, 70, 0.7), rgba(250, 248, 237, 0.7)), url("./../public/images/cloudy-bg_bigger.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%; }

.home .heading__billboard {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  text-align: center; }
  .home .heading__billboard .billboard__block {
    position: relative;
    width: fit-content;
    margin: 0 auto; }

.home__title {
  font-family: "Raleway";
  font-weight: 900;
  font-size: 12rem;
  text-transform: uppercase;
  text-shadow: 0 1rem 0.75rem #000; }

.home__owner {
  position: absolute;
  top: -2rem;
  right: -5rem;
  font-family: "Caveat-Bold";
  font-weight: 900;
  font-size: 3rem;
  font-style: italic;
  color: #141e46; }

.home__midtitle {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 2rem;
  text-transform: uppercase;
  text-shadow: 0 1rem 1rem #000; }

.home__subtitle {
  font-family: "Caveat-Bold";
  font-weight: 900;
  font-size: 6rem;
  font-style: italic;
  color: #141e46;
  margin: 4rem 0; }

.home .value-proposition {
  text-align: center; }
  .home .value-proposition .articleContainer__proposition {
    font-size: 1.6rem; }
  .home .value-proposition .articleContainer__textbox {
    position: relative;
    top: -4rem;
    left: -10vw;
    text-align: left;
    background-color: #fff;
    border: 5px solid #141e46;
    padding: 2rem 4rem; }
    .home .value-proposition .articleContainer__textbox p:not(p:last-child) {
      margin-bottom: 1rem; }
    .home .value-proposition .articleContainer__textbox::before {
      content: "";
      background-color: #fff;
      border-left: 5px solid #141e46;
      border-bottom: 5px solid #141e46;
      width: 2.5rem;
      height: 2.5rem;
      position: absolute;
      top: 7.5rem;
      left: -1.6rem;
      transform: rotate(45deg); }
  .home .value-proposition .articleContainer .proposition {
    flex: .95;
    margin-top: 4rem;
    width: 100%;
    font-family: "Raleway";
    font-weight: 700; }
    .home .value-proposition .articleContainer .proposition__container {
      background-color: #141e46;
      padding: 4rem;
      font-size: 2rem;
      border-radius: 2rem;
      width: 45%;
      height: 100%; }
    .home .value-proposition .articleContainer .proposition__target {
      text-transform: uppercase; }
    .home .value-proposition .articleContainer .proposition__icon {
      width: 100%;
      max-width: 12.5rem;
      margin: 2rem 0; }
    .home .value-proposition .articleContainer .proposition__element {
      transition: all .5s;
      overflow: hidden; }
      .home .value-proposition .articleContainer .proposition__element:not(.proposition__element:last-child) {
        margin-bottom: 1.5rem; }
      .home .value-proposition .articleContainer .proposition__element[data-status="contracted"] {
        max-height: 3rem; }
      .home .value-proposition .articleContainer .proposition__element[data-status="expanded"] {
        max-height: 50rem; }
    .home .value-proposition .articleContainer .proposition__title {
      text-transform: capitalize; }
      .home .value-proposition .articleContainer .proposition__title:hover {
        color: #fee257;
        cursor: pointer;
        text-shadow: 0 -0.15rem 0.75rem #fee257; }
    .home .value-proposition .articleContainer .proposition__paragraph {
      font-size: 1.8rem;
      font-weight: 300;
      margin-top: 1.5rem; }

.home .referrals__item {
  background-color: #141e46;
  min-height: 50rem;
  padding: 4rem;
  margin: 0 4rem;
  font-size: 2rem;
  border-radius: 2rem;
  position: relative; }

.home .referrals__author {
  cursor: pointer; }
  .home .referrals__author:hover .referrals__img {
    transform: rotate(45deg); }
  .home .referrals__author:hover .referrals__name {
    color: #fee257;
    text-shadow: 0 0.15rem 0.75rem #fee257; }

.home .referrals__img {
  width: 100%;
  max-width: 10rem;
  transition: all .5s; }

.home .referrals__name {
  text-transform: uppercase; }

.home .referrals__excerpt {
  font-size: 1.8rem;
  font-weight: 300;
  font-style: italic;
  margin: 2rem 0; }

.home .referrals__button {
  position: absolute;
  bottom: 4rem;
  left: 50%;
  transform: translateX(-50%); }

.home .referrals__control {
  position: relative;
  width: 5%;
  margin: 0 auto;
  height: 10rem; }
  .home .referrals__control .slick-prev:before,
  .home .referrals__control .slick-next:before {
    font-size: 4rem;
    color: #faf8ed; }

.home .block-section--1 .articleContainer__figure {
  background-image: url("./../public/images/cristina-pro.jpg"); }

.home .block-section--1 .articleContainer__textContainer {
  background-image: url("./../public/logos/rocket-logo-faint.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 60rem; }

.home .block-section--2 .articleContainer__standard,
.home .block-section--5 .articleContainer__standard {
  background-color: rgba(20, 30, 70, 0.7);
  color: #faf8ed; }

.about {
  text-align: center; }
  .about__title {
    font-family: "Caveat-Bold";
    font-size: 6rem; }
  .about .block-section--1 {
    margin: 0 -4rem;
    background-image: linear-gradient(to right, rgba(20, 30, 70, 0.5), rgba(250, 248, 237, 0.5)), url("./../public/images/rosy-skies.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    padding: 10rem 4rem;
    min-height: 35rem; }
  .about .block-section--2 .introContainer__figure {
    background-image: url("./../public/images/cristina-pro-2.jpeg"); }
  .about .block-section--3 .introContainer__figure {
    background-image: url("./../public/images/superpowers.jpg"); }
  .about .block-section--4 .introContainer__figure {
    background-image: url("./../public/images/teamwork.jpg"); }
  .about .block-section--5 .introContainer__figure {
    background-image: url("./../public/images/guidance.jpg"); }
  .about .block-section--6 .introContainer__figure {
    background-image: url("./../public/images/transformation.jpg"); }
  .about .block-section--7 {
    font-family: "Raleway";
    font-size: 3rem;
    font-weight: 650;
    text-transform: uppercase; }
    .about .block-section--7 h2:not(h2:last-child) {
      margin-bottom: .5rem; }

.services .articleContainer__textContainer {
  width: 100%;
  padding: 0; }

.booking {
  text-align: center; }
  .booking .articleContainer__textContainer {
    padding: 0; }
  .booking .block-section--1 {
    margin: 0 -4rem;
    background-image: linear-gradient(to right, rgba(20, 30, 70, 0.5), rgba(250, 248, 237, 0.5)), url("./../public/images/coffee-talk.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 10rem 4rem;
    min-height: 50rem; }
  .booking .block-section--3 .introContainer__figure {
    background-image: url("./../public/images/laptop-signalling.jpg"); }
  .booking .block-section--4 .articleContainer {
    background-color: #fae7c9;
    padding: 4rem;
    border-radius: 2rem; }
  .booking .block-section--4 .introContainer__figure {
    background-image: url("./../public/images/duck-king.jpg"); }
  .booking .block-section--5 .articleContainer {
    background-color: #fae7c9;
    padding: 4rem;
    border-radius: 2rem; }
  .booking .block-section--5 .introContainer__figure {
    background-image: url("./../public/images/collective-victory.jpg"); }
  .booking .body__table {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: ". p1 p2 p3 p4" "f2 d1 d2 d3 d4" "f1 pri1 pri2 pri3 pri4"; }
    .booking .body__table .table__element {
      padding: 4rem;
      background-color: #fff; }
    .booking .body__table .product1 {
      grid-area: p1; }
    .booking .body__table .product2 {
      grid-area: p2; }
    .booking .body__table .product3 {
      grid-area: p3; }
    .booking .body__table .product4 {
      grid-area: p4; }
    .booking .body__table .feature1 {
      grid-area: f1; }
    .booking .body__table .feature2 {
      grid-area: f2; }
    .booking .body__table .duration1 {
      grid-area: d1; }
    .booking .body__table .duration2 {
      grid-area: d2; }
    .booking .body__table .duration3 {
      grid-area: d3; }
    .booking .body__table .duration4 {
      grid-area: d4; }
    .booking .body__table .price1 {
      grid-area: pri1; }
    .booking .body__table .price2 {
      grid-area: pri2; }
    .booking .body__table .price3 {
      grid-area: pri3; }
    .booking .body__table .price4 {
      grid-area: pri4; }
    .booking .body__table--individual {
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-template-areas: ". p1 p2 p3 p4" "f2 d1 d2 d3 d4" "f1 pri1 pri2 pri3 pri4"; }
    .booking .body__table--corporate {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-template-areas: ". p1 p2 p3" "f2 d1 d2 d3" "f1 pri1 pri2 pri3"; }

.resources .articleContainer__textContainer {
  width: 47.5%;
  align-self: flex-start; }
  .resources .articleContainer__textContainer[data-status="expanded"] {
    min-height: 150rem; }
    .resources .articleContainer__textContainer[data-status="expanded"] .cta-button {
      position: absolute;
      bottom: 5rem; }
  .resources .articleContainer__textContainer .header__title {
    font-size: 4rem; }

.resources .block-section--1 {
  margin: 0 -4rem;
  background-image: linear-gradient(to right, rgba(20, 30, 70, 0.5), rgba(250, 248, 237, 0.5)), url("./../public/images/corn-seeds.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 10rem 4rem;
  min-height: 35rem; }
