@font-face {
  font-family: NotoSans-Regular;
  src: url("./../public/fonts/NotoSans-Regular.ttf"); }

@font-face {
  font-family: Raleway;
  src: url("./../public/fonts/Raleway.ttf"); }

@font-face {
  font-family: Raleway-Dots;
  src: url("./../public/fonts/RalewayDots.ttf"); }

@font-face {
  font-family: Russo-One;
  src: url("./../public/fonts/RussoOne-Regular.ttf"); }

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  vertical-align: middle;
  box-sizing: border-box;
  font-family: inherit;
  font-weight: inherit;
  font-style: inherit;
  font-size: inherit; }

ol, ul {
  list-style: none; }

a {
  text-decoration: none; }

a:link, a:visited,
a:hover, a:active {
  color: #fff; }

html, body {
  background-color: #fff;
  color: #000; }

html {
  font-family: NotoSans-Regular;
  font-size: 62.5%;
  /* 1rem equals to 10px */ }

.flex-container--row {
  display: flex;
  align-items: center; }

.flex-container--column {
  display: flex;
  flex-direction: column;
  align-items: center; }

.flex-start {
  justify-content: flex-start; }

.flex-center {
  justify-content: center; }

.flex-between {
  justify-content: space-between; }

.flex-around {
  justify-content: space-around; }

.header {
  background: linear-gradient(to right, #141e46, #faf8ed);
  position: fixed;
  width: 100%;
  padding: 1rem 2rem; }
  .header__logo {
    width: 100%;
    max-width: 8rem;
    position: relative;
    top: 2px; }
  .header svg {
    display: none; }
  .header .nav__element:first-child {
    margin-left: 3rem; }
  .header .nav__element:not(.nav__element:last-child) {
    margin-right: 3rem; }
  .header .nav__link {
    font-size: 1.75rem;
    font-family: "Raleway";
    font-weight: 400;
    text-transform: uppercase;
    color: #fff;
    transition: all .5s; }
  .header .nav__link:hover {
    cursor: pointer;
    font-size: 2.25rem;
    font-weight: 800;
    text-shadow: 0 -0.15rem 3px #fff;
    text-shadow: 0 0.15rem 3px #fff;
    text-shadow: -0.15rem 0 3px #fff;
    text-shadow: 0 -0.15rem 3px #fff; }
  .header__langSelector {
    flex: .15; }
    .header__langSelector .langSelector__icon {
      width: 100%;
      max-width: 3rem;
      transition: all .2s; }
      .header__langSelector .langSelector__icon:hover {
        cursor: pointer;
        max-width: 4rem; }

.content-frame {
  background-color: #faf8ed;
  padding: 10rem 2rem 2rem;
  max-width: 200rem;
  margin: 0 auto; }

.footer {
  background: linear-gradient(to right, #141e46, #faf8ed);
  padding: 0 3rem; }
  .footer__content {
    padding: 6rem 0; }
  .footer__logo {
    width: 100%;
    max-width: 4rem; }
  .footer__link:not(.footer__link:last-child) {
    margin-right: 2rem; }
  .footer__link:hover {
    cursor: pointer; }
  .footer .link__icon {
    height: 6rem;
    width: 6rem; }

.subfooter {
  background-color: #000;
  padding: 1rem 2rem;
  margin: 0 -3rem;
  font-family: "Raleway";
  font-size: 1.2rem;
  color: #fff;
  text-align: center; }
  .subfooter__link:hover {
    cursor: pointer; }
  .subfooter__maker {
    font-family: "Russo-One";
    font-size: 2rem;
    margin-left: 1rem;
    margin-right: .5rem; }
  .subfooter__makerLogo {
    width: 100%;
    max-width: 3rem;
    position: relative;
    bottom: 1px; }

.block-section {
  background-color: #99b080;
  height: 40rem;
  margin-bottom: 5rem; }
  .block-section:not(.block-section:last-child) {
    margin-bottom: 5rem; }

.home__heading {
  margin: 0 -2rem;
  height: calc(100vh - 10rem);
  max-height: 80rem;
  color: #faf8ed;
  background-image: url("./../public/images/cloudy-bg_big.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.home__title {
  font-family: "Raleway";
  font-weight: 900;
  font-size: 12rem;
  text-shadow: 0 1rem 0.75rem #000; }

.home__subtitle {
  font-family: "Raleway-Dots";
  font-weight: 900;
  font-size: 3rem;
  font-style: italic;
  text-transform: uppercase;
  color: #000; }

.home__banner {
  text-align: center;
  margin: 0 auto 4rem; }
