@font-face {
  font-family: NotoSans-Regular;
  src: url("./../public/fonts/NotoSans-Regular.ttf"); }

@font-face {
  font-family: Raleway;
  src: url("./../public/fonts/Raleway.ttf"); }

@font-face {
  font-family: Raleway-Dots;
  src: url("./../public/fonts/RalewayDots.ttf"); }

@font-face {
  font-family: Russo-One;
  src: url("./../public/fonts/RussoOne-Regular.ttf"); }

@font-face {
  font-family: Caveat-Bold;
  src: url("./../public/fonts/Caveat-Bold.ttf"); }

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  vertical-align: middle;
  box-sizing: border-box;
  font-family: inherit;
  font-weight: inherit;
  font-style: inherit;
  font-size: inherit; }

ol, ul {
  list-style: none; }

a {
  text-decoration: none; }

a:link, a:visited,
a:hover, a:active {
  color: #fff; }

html, body {
  background-color: #fff;
  color: #000; }

html {
  font-family: NotoSans-Regular;
  font-size: 62.5%;
  /* 1rem equals to 10px */ }

.flex-container--row {
  display: flex;
  align-items: center; }

.flex-container--column {
  display: flex;
  flex-direction: column;
  align-items: center; }

.flex-start {
  justify-content: flex-start; }

.flex-center {
  justify-content: center; }

.flex-between {
  justify-content: space-between; }

.flex-around {
  justify-content: space-around; }

.scroll-block {
  overflow: hidden; }

.header__logo.liftoff {
  transform: translateY(2px) rotate(0); }
  .header__logo.liftoff--complete {
    transform: translateY(2px) rotate(0);
    transition: .5s; }

.btn-pressed {
  transform: scale(0.65); }

.header {
  background: linear-gradient(to right, #141e46, #faf8ed);
  position: fixed;
  width: 100%;
  padding: 1rem 2rem;
  transition: height 1s;
  z-index: 10; }
  .header .flex-container--row {
    width: inherit; }
  .header[data-status="expanded"] {
    height: 100%;
    overflow: hidden; }
    .header[data-status="expanded"] .flex-container--row:not(.header__langSelector) {
      flex-direction: column;
      align-items: flex-start;
      height: 100%; }
    @media only screen and (max-width: 800px) {
      .header[data-status="expanded"] .header__nav {
        display: flex; }
        .header[data-status="expanded"] .header__nav .nav__element {
          margin: 1.5rem 0 0 2rem;
          transition: all .2s; }
          .header[data-status="expanded"] .header__nav .nav__element:first-child {
            margin-top: 3rem; }
          .header[data-status="expanded"] .header__nav .nav__element:hover {
            transform: translateX(2rem); }
          .header[data-status="expanded"] .header__nav .nav__element .nav__link {
            font-size: 3rem; }
      .header[data-status="expanded"] .header__langSelector {
        display: flex; } }
  @media only screen and (max-width: 800px) {
    .header[data-status="contracted"] .header__nav {
      display: none; }
    .header[data-status="contracted"] .header__langSelector {
      display: none; } }
  .header__logo {
    width: 100%;
    max-width: 8rem;
    position: relative;
    transform: translateY(101vh) rotate(0);
    transition: all 2s; }
    .header__logo:hover {
      cursor: pointer;
      transform: translateY(0) rotate(45deg); }
  .header svg {
    display: none; }
  @media only screen and (max-width: 800px) {
    .header svg[data-status="active"] {
      display: block;
      width: 5rem;
      height: 5rem;
      position: absolute;
      top: 2rem;
      right: 2rem;
      transition: all .5s; }
    .header svg.scale-down {
      transform: scale(0.1); }
    .header svg.scale-up {
      transform: scale(1); }
    .header svg.mobileManager__xCloser {
      transform: rotate(45deg); }
      .header svg.mobileManager__xCloser.scale-up {
        transform: scale(1) rotate(45deg); }
      .header svg.mobileManager__xCloser.scale-down {
        transform: scale(0.1) rotate(45deg); } }
  .header .nav__element:first-child {
    margin-left: 3rem; }
  .header .nav__element:not(.nav__element:last-child) {
    margin-right: 3rem; }
  .header .nav__link {
    font-size: 1.75rem;
    font-family: "Raleway";
    font-weight: 400;
    text-transform: uppercase;
    color: #fff;
    transition: all .5s; }
    .header .nav__link:hover {
      cursor: pointer;
      font-size: 2.25rem;
      font-weight: 800;
      text-shadow: 0 -0.15rem 3px #fff;
      text-shadow: 0 0.15rem 3px #fff;
      text-shadow: -0.15rem 0 3px #fff;
      text-shadow: 0.15rem 0 3px #fff; }
  .header__langSelector {
    flex: .15;
    min-width: 10rem;
    max-width: 12.5rem; }
    .header__langSelector .langSelector__btn {
      background-color: transparent; }
    .header__langSelector .langSelector__icon {
      width: 100%;
      max-width: 3rem;
      transition: all .2s;
      border-radius: 10rem; }
      .header__langSelector .langSelector__icon:hover {
        cursor: pointer;
        max-width: 4rem; }
      .header__langSelector .langSelector__icon[data-status="selected"] {
        transform: scale(0.65); }

.content-frame {
  background-color: #faf8ed;
  padding: 10rem 2rem 2rem;
  max-width: 200rem;
  margin: 0 auto; }

.footer {
  background: linear-gradient(to right, #141e46, #faf8ed);
  padding: 0 3rem; }
  .footer__content {
    padding: 6rem 0; }
  .footer__logo {
    width: 100%;
    max-width: 4rem; }
  .footer__link:not(.footer__link:last-child) {
    margin-right: 2rem; }
  .footer__link:hover {
    cursor: pointer; }
  .footer .link__icon {
    height: 6rem;
    width: 6rem; }

.subfooter {
  background-color: #000;
  padding: 1rem 2rem;
  margin: 0 -3rem;
  font-family: "Raleway";
  font-size: 1.2rem;
  color: #fff;
  text-align: center; }
  .subfooter__link:hover {
    cursor: pointer; }
  .subfooter__maker {
    font-family: "Russo-One";
    font-size: 2rem;
    margin-left: 1rem;
    margin-right: .5rem; }
  .subfooter__makerLogo {
    width: 100%;
    max-width: 3rem;
    position: relative;
    bottom: 1px; }

.block-section {
  background-color: #99b080;
  height: 40rem;
  margin-bottom: 5rem; }
  .block-section:not(.block-section:last-child) {
    margin-bottom: 5rem; }

.home__heading {
  margin: 0 -2rem;
  height: calc(100vh - 10rem);
  max-height: 80rem;
  color: #faf8ed;
  position: relative; }

.home .heading__background {
  background-image: linear-gradient(to right, rgba(20, 30, 70, 0.7), rgba(250, 248, 237, 0.7)), url("./../public/images/cloudy-bg_big.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%; }

.home .heading__billboard {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  text-align: center; }

.home__title {
  font-family: "Raleway";
  font-weight: 900;
  font-size: 12rem;
  text-transform: uppercase;
  text-shadow: 0 1rem 0.75rem #000; }

.home__subtitle {
  font-family: "Caveat-Bold";
  font-weight: 900;
  font-size: 6rem;
  font-style: italic;
  color: #000; }

.home__banner {
  text-align: center;
  margin: 0 auto 4rem; }
