// SITE PALETTE

// Group 1
$color-dark-brown: #706233;
$color-light-brown: #b0926a;
$color-desert-dune: #e1c78f;
$color-dark-cream: #fae7c9;

// Group 2
$color-dark-orange: #f9b572;
$color-light-green: #99b080;
$color-dark-green: #748e63;
$color-light-grey: #faf8ed;

// Group 3
$color-dark-blue: #141e46;
$color-intense-red: #e83f3c;
$color-dark-pink: #ff6969;
$color-light-cream: #fff5e0;

$color-yellow-sun: #fee257;
