.banner {
    text-align: center;
    margin: 0 auto 3rem;

    &-horizontal {
        width: 100%;
        max-width: 80rem;
    }
}
@media only screen and (min-width: 1800px) {
    .banner-horizontal {
        position: absolute;
        bottom: 3rem;
        left: 50%;
        transform: translateX(-50%);
    }
}
