.block-section {
    background-color: $color-light-grey;
    font-size: 1.6rem;
    margin-bottom: 5rem;

    &:not(.block-section:last-child) {
        margin-bottom: 5rem;
    }

    &__band {
        background: linear-gradient(to right, $color-dark-blue, $color-light-grey);
        padding: 6rem;
        margin: 0 -4rem;
        margin-bottom: 5rem;

        .cta-button {
            min-width: 35rem;
            text-align: center;
        }
        @media only screen and (max-width: 500px) {
            .cta-button {
                min-width: unset;
            }
        }
    }

    .articleContainer {
        align-items: stretch;
        text-align: center;

        &__standard {
            width: 100%;
            padding: 4rem;
            background-color: $color-dark-cream;
            border-radius: 2rem;
            font-size: 2rem;
        }
        @media only screen and (max-width: 500px) {
            &__standard {
                padding: 3rem;
            }
        }

        &__figure {
            width: 30%;
            min-height: 40rem;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 2rem;
        }

        &__textContainer {
            width: 67.5%;
            padding: 4rem;
            background-color: $color-dark-cream;
            border-radius: 2rem;
            font-size: 2rem;

            & p:not(p:last-child) {
                margin-bottom: 1.5rem;
            }
        }

        &__title {
            font-family: "Raleway";
            text-transform: uppercase;
            font-size: 3rem;
            font-weight: 700;
        }
    }
    @media only screen and (max-width: 750px) {
        .articleContainer {
            flex-direction: column;

            &__figure {
                width: 100%;
                margin-bottom: 5rem;
            }

            &__textContainer {
                width: 100%;
            }

            &__title {
                font-size: 2rem;
            }
        }
    }

    .form {
        background-color: rgba(20, 30, 70, 0.7);
        color: $color-light-grey;
        border-radius: 2rem;
        font-size: 2.5rem;
        padding: 4rem;

        & div {
            width: 100%;
        }

        &__title {
            text-transform: uppercase;
            font-family: "Raleway";
            font-weight: 700;
            font-size: 5rem;
        }

        &__note {
            font-size: 1.5rem;
        }

        &__container {
            width: 37.5%;
            margin-top: 4rem;
        }

        &__column {

            &:not(.form__column:last-child) {
                margin-right: 2rem;
            }
        }

        &__label{
            margin-bottom: 1rem;
        }

        &__input, &__select {
            width: 100%;
            background-color: $color-light-grey;
            color: $color-dark-blue;
            border: 3px solid rgba(20, 30, 70, 0.7);
            border-radius: 1.5rem;
            padding: .5rem 2rem;
            font-size: 2rem;
            margin-bottom: 2rem;

            &:focus {
                border: 3px solid $color-yellow-sun;
            }

            &--highlighted {
                border: 3px solid $color-intense-red;
            }

            &::placeholder {
                font-size: 1.5rem;
            }
            @media only screen and (max-width: 350px) {
                &::placeholder {
                    font-size: 1.25rem;
                }
            }

            &:-webkit-autofill, &:-webkit-autofill:hover,
            &:-webkit-autofill:focus {
                background-color: $color-light-grey;
                -webkit-text-fill-color: $color-dark-blue;
                transition: background-color 5000s ease-in-out 0s;
            }

            &--textarea {
                width: 100%;
                resize: none;

                &::-webkit-scrollbar {
                    background-color: $color-light-grey;
                    border-top-right-radius: 1.5rem;
                    border-bottom-right-radius: 1.5rem;
                }
                &::-webkit-scrollbar-thumb {
                    background: linear-gradient(to right, transparent, $color-light-grey, $color-dark-blue, $color-light-grey, transparent);
                }
            }
        }

        &__select {
            padding: .35rem 2rem;

            .select__group {
                display: block;

                &--hidden {
                    display: none;
                }
            }
        }

        &__alert {
            background-color: $color-light-cream;
            color: $color-dark-blue;
            font-size: 1.6rem;
            border-radius: 1.5rem;
            text-align: left;
            padding: 2rem;
            margin-bottom: 2rem;

            &--success {
                border: 3px solid $color-dark-green;
            }

            &--error {
                border: 3px solid $color-intense-red;
            }

            &--inactive {
                display: none;
            }

            .alert__list {
                list-style: inside;
                margin-left: 2rem;
                margin-top: 1rem;

                li .bold-regular-text {
                    text-transform: uppercase;
                }
            }
        }

        &__button {
            width: 48%;
        }
        @media only screen and (max-width: 950px) {
            &__button {
                width: 60%;
            }
        }
        @media only screen and (max-width: 350px) {
            &__button {
                width: 100%;
            }
        }

        &__footnote {
            font-size: 1.75rem;
            margin-top: 3rem;
            font-style: italic;
        }
    }

    .unfolding-content, .regular-content {
        position: relative;

        &__header {
            width: 100%;
            padding: 4rem 0;

            .header__img {
                width: 100%;
                max-width: 20rem;

                &--booking {
                    max-width: 10rem;
                }
            }

            .header__title {
                font-family: "Raleway";
                font-size: 5rem;
                font-weight: 900;
                text-transform: uppercase;
            }
        }

        &__body {
            padding: 4rem 6rem;
            transition: max-height 2s, opacity 3s, padding 2s;
            overflow: hidden;

            .body {

                &__shrink {
                    width: 5rem;
                    height: 5rem;
                    position: absolute;
                    top: -2rem;
                    right: 2rem;
                    transition: width .2s, height .2s, transform 1s, opacity 1s;
    
                    &:hover {
                        cursor: pointer;
                    }
    
                    &.clicked {
                        width: 3rem;
                        height: 3rem;
                    }
                }
    
                &__band {
                    background-color: $color-dark-blue;
                    padding: 4rem 0;
                    margin: 4rem -6rem;
                }

                &__table {
                    background-color: rgba(20, 30, 70, 0.7);
                    border-radius: 2rem;
                    padding: 2rem;
                    display: grid;
                    gap: 1rem;

                    .table__element {
                        border-radius: 2rem;
                        min-height: 12.5rem;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;

                        &--thick {
                            justify-content: space-between;
                        }

                        &--category {
                            background-color: $color-light-green;
                            text-transform: uppercase;
                            font-family: "NotoSans-Bold";
                        }

                        &--feature {
                            background-color: $color-desert-dune;
                            font-family: "NotoSans-Bold";
                        }

                        .table__ad {
                            text-transform: uppercase;
                            font-family: "NotoSans-Bold";
                            color: $color-dark-green;
                            animation-name: text-highlight;
                            animation-timing-function: linear;
                            animation-duration: 1s;
                            animation-iteration-count: infinite;
                        }
                    }

                    .table-btn {
                        font-size: 1.25rem;
                        padding: 1rem 2rem;
                        margin-top: 1rem;
                    }
                }

                &__block {

                    &:not(.body__block:last-child) {
                        margin-bottom: 3rem;
                    }
                }
    
                &__list {
                    list-style-type: auto;
                    margin-left: 4rem;
                    margin-block: 2rem;
                }
    
                &__title, &__subtitle {
                    bottom: 0;
                }
    
                &__title {
                    text-transform: uppercase;

                    &--bigger {
                        font-size: 3rem;
                    }
                }
    
                &__paragraph {
                    margin-bottom: 1.5rem;
                }
    
                &__btnContainer {
                    padding-top: 5rem;
    
                    & .cta-button {
                        min-width: 35rem;
    
                        &:first-child {
                            margin-right: 4rem;
                        }
                    }
                }
            }

            .table__caption {
                margin-bottom: 1rem;
                text-transform: uppercase;
                font-size: 2.5rem;
                font-family: "NotoSans-Bold";

                span {
                    font-size: 1.75rem;
                    font-family: "NotoSans-Regular";
                    position: relative;
                    bottom: 2px;
                }
            }
        }
    }

    .unfolding-content {

        &[data-status="contracted"] {
            &:hover {
                cursor: pointer;
                outline: 5px solid $color-dark-blue;
            }

            .unfolding-content__header {

                &:hover {

                    .header__img {
                        animation-timing-function: linear;
                        animation-iteration-count: infinite;
    
                        &#teamwork-icon {
                            animation-name: complete-rotation;
                            animation-duration: 2s;
                        }
    
                        &#superhero-icon {
                            animation-name: icon-pulsation;
                            animation-duration: 1.25s;
                        }
                    }
                }
            }
    
            .unfolding-content__body {
                max-height: 0;
                opacity: 0;
                padding: 0 6rem;
            }

            .body__shrink {
                opacity: 0;
                transform: translateY(-2rem);
            }
        }

        &[data-status="expanded"] {

            .unfolding-content__body {
                max-height: 200rem;
                opacity: 1;
                padding: 4rem 6rem;
            }

            .body__shrink {
                opacity: 1;
                transform: translateY(4rem);
            }
        }
    }
}