.block-section {
    background-color: $color-light-grey;
    font-size: 1.6rem;
    margin-bottom: 5rem;

    &:not(.block-section:last-child) {
        margin-bottom: 5rem;
    }

    &__band {
        background: linear-gradient(to right, $color-dark-blue, $color-light-grey);
        padding: 6rem;
        margin: 0 -4rem;
        margin-bottom: 5rem;
    }

    .articleContainer {
        align-items: stretch;

        &__figure {
            width: 30%;
            min-height: 40rem;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 2rem;
        }

        &__textContainer {
            width: 67.5%;
            background-color: $color-dark-cream;
            border-radius: 2rem;
            padding: 4rem;
            font-size: 2rem;

            & p:not(p:last-child) {
                margin-bottom: 1.5rem;
            }
        }
    }

    .unfolding-content {
        position: relative;

        &__header {
            width: 100%;
            padding: 4rem 0;

            .header__img {
                width: 100%;
                max-width: 20rem;
            }

            .header__title {
                font-family: "Raleway";
                font-size: 5rem;
                font-weight: 900;
                text-transform: uppercase;
            }
        }

        &__body {
            padding: 4rem 6rem;
            transition: max-height 2s, opacity 3s, padding 2s;
            overflow: hidden;
        }

        .body {

            &__shrink {
                width: 5rem;
                height: 5rem;
                position: absolute;
                top: -2rem;
                right: 2rem;
                transition: width .2s, height .2s, transform 1s, opacity 1s;

                &:hover {
                    cursor: pointer;
                }

                &.clicked {
                    width: 3rem;
                    height: 3rem;
                }
            }

            &__band {
                background-color: $color-dark-blue;
                padding: 4rem 0;
                margin: 4rem -6rem;
            }

            &__list {
                list-style-type: auto;
                margin-left: 4rem;
                margin-block: 2rem;
            }

            &__title, &__subtitle {
                bottom: 0;
            }

            &__title {
                text-transform: uppercase;
            }

            &__paragraph {
                margin-bottom: 1.5rem;
            }

            &__btnContainer {
                padding-top: 5rem;

                & .cta-button {
                    min-width: 35rem;

                    &:first-child {
                        margin-right: 4rem;
                    }
                }
            }
        }
    }

    .unfolding-content {

        &[data-status="contracted"] {
            &:hover {
                cursor: pointer;
                outline: 5px solid $color-dark-blue;
            }

            .unfolding-content__header {

                &:hover {

                    .header__img {
                        animation-timing-function: linear;
                        animation-iteration-count: infinite;
    
                        &#teamwork-icon {
                            animation-name: complete-rotation;
                            animation-duration: 2s;
                        }
    
                        &#superhero-icon {
                            animation-name: icon-pulsation;
                            animation-duration: 1.25s;
                        }
                    }
                }
            }
    
            .unfolding-content__body {
                max-height: 0;
                opacity: 0;
                padding: 0 6rem;
            }

            .body__shrink {
                opacity: 0;
                transform: translateY(-2rem);
            }
        }

        &[data-status="expanded"] {

            .unfolding-content__body {
                max-height: 200rem;
                opacity: 1;
                padding: 4rem 6rem;
            }

            .body__shrink {
                opacity: 1;
                transform: translateY(4rem);
            }
        }
    }
}