.cta-button {
    background-color: $color-yellow-sun;
    color: $color-dark-blue;
    font-size: 1.75rem;
    text-decoration: none;
    padding: 1rem 4rem;
    border-radius: 2rem;
    transition: all .2s;

    &:hover, &.pulsing {
        cursor: pointer;
        animation-name: btn-pulsate;
        animation-timing-function: linear;
        animation-duration: 1s;
        animation-iteration-count: infinite;
    }

    &--success {
        background-color: $color-dark-green;

        &:hover, &.pulsing {
            animation-name: btn-pulsate-success;
        }
    }

    &--alert {
        background-color: $color-intense-red;

        &:hover, &.pulsing {
            animation-name: btn-pulsate-alert;
        }
    }

    &.pressed {
        transform: translateY(.25rem) scale(0.9);
        box-shadow: 0 1rem 3rem $color-dark-blue;
        animation-name: none;
        filter: brightness(0.95);

        &.in-band {
            box-shadow: 0 1rem 3rem #000;
        }
    }

    &.highlighted {
        text-transform: uppercase;
        font-family: "NotoSans-Bold";
        animation-name: btn-pulsate;
        animation-timing-function: linear;
        animation-duration: 1s;
        animation-iteration-count: infinite;

        &.cta-button--success {
            animation-name: btn-pulsate-success;
        }

        &.cta-button--alert {
            animation-name: btn-pulsate-alert;
        }
    }

    &.disabled {
        opacity: 0.5;
        animation-name: none;
        
        &:hover {
            cursor: not-allowed;
        }
    }

    &.social-button {
        & img {
            width: 2.5rem;
            height: 2.5rem;
            margin-left: 1rem;
        }

        &:hover {
            animation-name: none;
            text-shadow: none;
            padding: 1rem 6rem;
        }
    }
}