.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%) scale(0.2);  
    height: 50rem;
    width: 50rem;
    overflow: auto;
    padding: 5rem 4rem 5rem;
    border: 5px solid $color-dark-blue;
    border-radius: 2rem;
    font-size: 1.4rem;
    text-align: center;
    background-color: $color-light-grey;    
    transition: all .75s;

    &::-webkit-scrollbar {
        background-color: $color-light-grey;
        border-top-right-radius: 1.5rem;
        border-bottom-right-radius: 1.5rem;
    }
    &::-webkit-scrollbar-thumb {
        background: linear-gradient(to right, transparent, $color-light-grey, $color-dark-blue, $color-light-grey, transparent);
    }

    @media only screen and (max-width: 950px) {
        & {
            height: 100vh;
            width: 100vw;
            top: 0;
            left: 0;
            transform: translate(0, 0) scale(0.2);
            border-radius: 0;
            z-index: 20;
        }
    }

    &--appearing {
        transform: translate(-50%, -40%) scale(1);
    }
    @media only screen and (max-width: 950px) {
        &--appearing {
            transform: translate(0, 0) scale(1);
        }
    }

    &--disappearing {
        transform: translate(-50%, -40%) scale(0);
    }
    @media only screen and (max-width: 950px) {
        &--disappearing {
            transform: translate(0, 0) scale(0);
        }
    }

    &__xCloser {
        position: absolute;
        top: 2rem;
        right: 2rem;
        width: 5rem;
        height: 5rem;

        &:hover {
            cursor: pointer;
        }
    }

    &__logo {
        width: 100%;
        max-width: 15rem;
    }

    &__content {
        transition: all 1s;

        &--appearing {
            opacity: 1;
        }

        &--disappearing {
            opacity: 0;
        }
    }

    &__block {
        margin-top: 4rem;
    }

    &__title {
        width: 100%;
        font-size: 2rem;
        text-transform: uppercase;
        margin-bottom: 3rem;

        & span {
            font-size: 1.5rem;
        }
    }

    &__subtitle {
        text-transform: uppercase;
        text-decoration: underline;
    }

    &__text, &__list {
        margin-bottom: 1rem;
    }

    &__text {
        &.bold span, & a {
            font-family: "NotoSans-Bold";
            position: relative;
            bottom: 1.5px;
        }

        &.contact-detail {
            margin-bottom: 0;
            display: block;
        }
    }
    @media only screen and (max-width: 950px) {
        &__text {
            text-align: left;
        }
    }

    &__ad {
        text-transform: uppercase;
        color: $color-dark-green;
        animation-name: text-highlight;
        animation-timing-function: linear;
        animation-duration: 1.5s;
        animation-iteration-count: infinite;

        &--clickable {
            color: $color-intense-red;
            background-color: transparent;
            font-family: "NotoSans-Bold";

            &:hover {
                cursor: pointer;
                @include minimal-text-shadow-up(1rem, $color-intense-red);
                @include minimal-text-shadow-down(1rem, $color-intense-red);
                @include minimal-text-shadow-left(1rem, $color-intense-red);
                @include minimal-text-shadow-right(1rem, $color-intense-red);
            }
        }
    }

    &__disclaimer {
        color: $color-intense-red;
    }

    &__figure {
        
        &:not(.popup__figure:last-child) {
            margin-bottom: 1rem;
        }

        .popup__socialLink {
            height: 100%;
            display: inline-block;

            .socialLink__icon {
                width: 12rem;
                height: 12rem;
                border-radius: 2rem;

                &:active {
                    transform: scale(0.5);
                }
    
                &:hover {
                    cursor: pointer;
                    @include minimal-box-shadow-up(1rem, $color-dark-blue);
                }
            }
        }
    }

    .form {
        &__container {
            margin-top: 4rem;
        }

        &__label{
            margin-bottom: 1rem;
            font-size: 2rem;
        }

        &__input, &__select {
            width: 75%;
            background-color: $color-dark-cream;
            color: $color-dark-blue;
            border: 3px solid $color-light-grey;
            border-radius: 1.5rem;
            padding: 1rem 2rem;
            font-size: 1.5rem;
            margin-bottom: 2rem;

            &:focus {
                border: 3px solid $color-dark-blue;
            }

            &--highlighted {
                border: 3px solid $color-intense-red;
            }

            &::placeholder {
                font-size: 1.5rem;
            }

            &:-webkit-autofill, &:-webkit-autofill:hover,
            &:-webkit-autofill:focus {
                background-color: $color-dark-cream;
                -webkit-text-fill-color: $color-dark-blue;
                transition: background-color 5000s ease-in-out 0s;
            }
        }

        &__select {
            padding: .8rem 2rem;
        }

        &__alert {
            background-color: $color-desert-dune;
            color: $color-dark-blue;
            font-size: 1.6rem;
            border-radius: 3rem;
            text-align: left;
            padding: 2rem;
            margin-bottom: 2rem;

            &--success {
                border: 3px solid $color-dark-green;
            }

            &--error {
                border: 3px solid $color-intense-red;
            }

            &--inactive {
                display: none;
            }

            .alert__list {
                list-style: inside;
                margin-left: 2rem;
                margin-top: 1rem;

                li .bold-regular-text {
                    text-transform: uppercase;
                }
            }
        }
    }

    &__list {
        text-align: left;
        margin-left: 4rem;
        list-style-type: disc;

        &--pricing {
            text-align: center;
            margin-left: 0;
            list-style-type: none;
        }

        .list__element {

            &--pricing {
                margin: 4rem 0;
            }
        }
    }

    &__footnote {
        font-family: "NotoSans-Bold";
        margin-top: 4rem;
        font-style: italic;
    }

    .cta-button {
        text-decoration: none;
        min-width: 27rem;

        &.positioned {
            margin: -4rem 0 0;
        }
    }
}