// TEXT ANIMATIONS

@keyframes text-highlight {
    0% {opacity: 0}
    50% {opacity: 1}
    100% {opacity: 0}
}


// CTA-BUTTON ANIMATIONS

@keyframes btn-pulsate {
    0% {box-shadow: 0 0 0 $color-yellow-sun; 
        box-shadow: 0 0 0 $color-yellow-sun; 
        box-shadow: 0 0 0 $color-yellow-sun; 
        box-shadow: 0 0 0 $color-yellow-sun;
        @include minimal-text-shadow-up(1rem, rgba(20, 30, 70, 0.5)); 
        @include minimal-text-shadow-down(1rem, rgba(20, 30, 70, 0.5)); 
        @include minimal-text-shadow-left(1rem, rgba(20, 30, 70, 0.5)); 
        @include minimal-text-shadow-right(1rem, rgba(20, 30, 70, 0.5));
    }
    50% {@include minimal-box-shadow-up(1rem, $color-yellow-sun); 
        @include minimal-box-shadow-down(1rem, $color-yellow-sun); 
        @include minimal-box-shadow-left(1rem, $color-yellow-sun); 
        @include minimal-box-shadow-right(1rem, $color-yellow-sun);
        @include minimal-text-shadow-up(5rem, rgba(20, 30, 70, 0.5)); 
        @include minimal-text-shadow-down(5rem, rgba(20, 30, 70, 0.5)); 
        @include minimal-text-shadow-left(5rem, rgba(20, 30, 70, 0.5)); 
        @include minimal-text-shadow-right(5rem, rgba(20, 30, 70, 0.5));
    }
    100% {box-shadow: 0 0 0 $color-yellow-sun; 
        box-shadow: 0 0 0 $color-yellow-sun; 
        box-shadow: 0 0 0 $color-yellow-sun; 
        box-shadow: 0 0 0 $color-yellow-sun;
        @include minimal-text-shadow-up(1rem, rgba(20, 30, 70, 0.5)); 
        @include minimal-text-shadow-down(1rem, rgba(20, 30, 70, 0.5)); 
        @include minimal-text-shadow-left(1rem, rgba(20, 30, 70, 0.5)); 
        @include minimal-text-shadow-right(1rem, rgba(20, 30, 70, 0.5));
    }
}

@keyframes btn-pulsate-success {
    0% {box-shadow: 0 0 0 $color-dark-green; 
        box-shadow: 0 0 0 $color-dark-green; 
        box-shadow: 0 0 0 $color-dark-green; 
        box-shadow: 0 0 0 $color-dark-green;
        @include minimal-text-shadow-up(1rem, rgba(20, 30, 70, 0.5)); 
        @include minimal-text-shadow-down(1rem, rgba(20, 30, 70, 0.5)); 
        @include minimal-text-shadow-left(1rem, rgba(20, 30, 70, 0.5)); 
        @include minimal-text-shadow-right(1rem, rgba(20, 30, 70, 0.5));
    }
    50% {@include minimal-box-shadow-up(1rem, $color-dark-green); 
        @include minimal-box-shadow-down(1rem, $color-dark-green); 
        @include minimal-box-shadow-left(1rem, $color-dark-green); 
        @include minimal-box-shadow-right(1rem, $color-dark-green);
        @include minimal-text-shadow-up(5rem, rgba(20, 30, 70, 0.5)); 
        @include minimal-text-shadow-down(5rem, rgba(20, 30, 70, 0.5)); 
        @include minimal-text-shadow-left(5rem, rgba(20, 30, 70, 0.5)); 
        @include minimal-text-shadow-right(5rem, rgba(20, 30, 70, 0.5));
    }
    100% {box-shadow: 0 0 0 $color-dark-green; 
        box-shadow: 0 0 0 $color-dark-green; 
        box-shadow: 0 0 0 $color-dark-green; 
        box-shadow: 0 0 0 $color-dark-green;
        @include minimal-text-shadow-up(1rem, rgba(20, 30, 70, 0.5)); 
        @include minimal-text-shadow-down(1rem, rgba(20, 30, 70, 0.5)); 
        @include minimal-text-shadow-left(1rem, rgba(20, 30, 70, 0.5)); 
        @include minimal-text-shadow-right(1rem, rgba(20, 30, 70, 0.5));
    }
}

@keyframes btn-pulsate-alert {
    0% {box-shadow: 0 0 0 $color-intense-red; 
        box-shadow: 0 0 0 $color-intense-red; 
        box-shadow: 0 0 0 $color-intense-red; 
        box-shadow: 0 0 0 $color-intense-red;
        @include minimal-text-shadow-up(1rem, rgba(20, 30, 70, 0.5)); 
        @include minimal-text-shadow-down(1rem, rgba(20, 30, 70, 0.5)); 
        @include minimal-text-shadow-left(1rem, rgba(20, 30, 70, 0.5)); 
        @include minimal-text-shadow-right(1rem, rgba(20, 30, 70, 0.5));
    }
    50% {@include minimal-box-shadow-up(1rem, $color-intense-red); 
        @include minimal-box-shadow-down(1rem, $color-intense-red); 
        @include minimal-box-shadow-left(1rem, $color-intense-red); 
        @include minimal-box-shadow-right(1rem, $color-intense-red);
        @include minimal-text-shadow-up(5rem, rgba(20, 30, 70, 0.5)); 
        @include minimal-text-shadow-down(5rem, rgba(20, 30, 70, 0.5)); 
        @include minimal-text-shadow-left(5rem, rgba(20, 30, 70, 0.5)); 
        @include minimal-text-shadow-right(5rem, rgba(20, 30, 70, 0.5));
    }
    100% {box-shadow: 0 0 0 $color-intense-red; 
        box-shadow: 0 0 0 $color-intense-red; 
        box-shadow: 0 0 0 $color-intense-red; 
        box-shadow: 0 0 0 $color-intense-red;
        @include minimal-text-shadow-up(1rem, rgba(20, 30, 70, 0.5)); 
        @include minimal-text-shadow-down(1rem, rgba(20, 30, 70, 0.5)); 
        @include minimal-text-shadow-left(1rem, rgba(20, 30, 70, 0.5)); 
        @include minimal-text-shadow-right(1rem, rgba(20, 30, 70, 0.5));
    }
}


// HEADER ANIMATIONS

.header__logo, 
.header__logo--home {
    &.liftoff {
        transform: translateY(2px) rotate(0);

        &--complete {
            transform: translateY(2px) rotate(0);
            transition: .5s;
        }
    }
}

.btn-pressed {
    transform: scale(.65);
}


//

@keyframes complete-rotation {
    0% {transform: rotate(0deg)}
    100% {transform: rotate(360deg)}
}

@keyframes icon-pulsation {
    0% {transform: scale(1)}
    50% {transform: scale(0.75)}
    100% {transform: scale(1)}
}

