// CSS RESET

*, 
*::before, 
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    vertical-align: middle;
    box-sizing: border-box;
    font-family: inherit;
    font-weight: inherit;
    font-style: inherit;
    font-size: inherit;
}

ol, ul {
    list-style: none;
}

a:link, a:visited,
a:hover, a:active {
    color: $color-dark-blue;
}

a:hover {
    @include minimal-text-shadow-up(2rem, $color-dark-blue);
}

html, body {
    background-color: #fff;
    color: $color-dark-blue;
}

html {
    font-family: NotoSans-Regular;
    font-size: 62.5%; /* 1rem equals to 10px */
}


// COMMON MINIMAL COMPONENTS

.xCloser {
    transform: rotate(45deg);
}