@font-face {
    font-family: NotoSans-Regular;
    src: url("./../public/fonts/NotoSans-Regular.ttf");
}

@font-face {
    font-family: NotoSans-Bold;
    src: url("./../public/fonts/NotoSans-Bold.ttf")
}

@font-face {
    font-family: Raleway;
    src: url("./../public/fonts/Raleway.ttf");
}

@font-face {
    font-family: Raleway-Dots;
    src: url("./../public/fonts/RalewayDots.ttf");
}

@font-face {
    font-family: Russo-One;
    src: url("./../public/fonts/RussoOne-Regular.ttf");
}

@font-face {
    font-family: Caveat-Bold;
    src: url("./../public/fonts/Caveat-Bold.ttf");
}

.bold-regular-text {
    font-family: "NotoSans-Bold";
    position: relative;
    bottom: 2px;
}

.bold-italic-text {
    font-family: "NotoSans-Bold";
    position: relative;
    bottom: 2px;
    font-style: italic;
}