//
.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}


// 
.margin-block20 {
    margin: 2rem 0;
}


//
.flex-container--row {
    display: flex;
    align-items: center;
}

.flex-container--column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-start {
    justify-content: flex-start;
}
.flex-end {
    justify-content: flex-end;
}
.flex-center {
    justify-content: center;
}
.flex-between {
    justify-content: space-between;
}
.flex-around {
    justify-content: space-around;
}


.scroll-block {
    overflow: hidden;

    &--dark {
        filter: brightness(0.3);
        pointer-events: none;
    }
}