.booking {
    text-align: center;

    .articleContainer__textContainer {
        padding: 0;
    }

    @media only screen and (max-width: 1100px) {
        .regular-content__body {
            flex-direction: column;
        }
    }

    .block-section--1 {
        margin: 0 -4rem;
        background-image: 
            linear-gradient(to right, rgba(20, 30, 70, 0.5), rgba(250, 248, 237, 0.5)),
            url("./../public/images/coffee-talk.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        padding: 10rem 4rem;
        min-height: 50rem;

        @media only screen and (max-width: 950px) {
            .about__title {
                font-size: 5rem;
            }
        }
        @media only screen and (max-width: 500px) {
            .about__title {
                font-size: 4rem;
            }
        }
    }
    @media only screen and (max-width: 500px) {
        .block-section--1 {
            margin: 0 -2.5rem;
        }
    }

    .block-section--2 {

        @media only screen and (max-width: 1100px) {
            .form__container {
                width: 100%;
            }
        }
        @media only screen and (max-width: 950px) {
            .form__button {
                width: 40%;
            }
        }
        @media only screen and (max-width: 600px) {
            .form__row {
                flex-direction: column;
            }
            
            .form__column:first-child {
                margin-right: 0;
            }

            .form__buttonContainer {
                flex-direction: column;
                gap: 2rem;
               
                .form__button {
                    width: 100%;
                    max-width: 25rem;
                }
            }
        }
        @media only screen and (max-width: 400px) {
            .form__title {
                font-size: 3.5rem;
            }
        }
    }

    .block-section--3 {

        .introContainer {

            &__figure {
                background-image: url("./../public/images/laptop-signalling.jpg");
            }
            @media only screen and (max-width: 950px) {
                &__figure {
                    width: 100%;
                    min-height: 60rem;
                    margin-bottom: 5rem;
                }
            }
        }
        @media only screen and (max-width: 950px) {
            .introContainer {
                flex-direction: column;
            }
        }

        .articleContainer {

            @media only screen and (max-width: 950px) {
                &__textContainer {
                    width: 100%;
                }
            }
            @media only screen and (max-width: 500px) {
                &__textContainer .regular-content__body {
                    padding: 4rem;
                }
            }
        }
    }

    .block-section--4 {

        .articleContainer {
            background-color: $color-dark-cream;
            padding: 4rem;
            border-radius: 2rem;
        }
        @media only screen and (max-width: 350px) {
            .articleContainer {
                padding: 4rem 2rem;
            }
        }

        .introContainer {

            @media only screen and (max-width: 1100px) {
                .regular-content__body {
                    flex-direction: column-reverse;
                    padding: 4rem 0;
                }
            }

            &__figure {
                background-image: url("./../public/images/duck-king.jpg");
            }
            @media only screen and (max-width: 1100px) {
                &__figure {
                    width: 100%;
                    max-width: 80rem;
                }
            }
        }
    }

    .block-section--5 {

        .articleContainer {
            background-color: $color-dark-cream;
            padding: 4rem;
            border-radius: 2rem;
        }
        @media only screen and (max-width: 350px) {
            .articleContainer {
                padding: 4rem 2rem;
            }
        }

        .introContainer {

            @media only screen and (max-width: 1100px) {
                .regular-content__body {
                    flex-direction: column;
                    padding: 4rem 0;
                }
            }

            &__figure {
                background-image: url("./../public/images/collective-victory.jpg");
            }
            @media only screen and (max-width: 1100px) {
                &__figure {
                    width: 100%;
                    max-width: 80rem;
                }
            }
        }
    }

    .table__caption {

        @media screen and (max-width: 750px) {
            & {
                text-align: center;
            }
        }
    }

    .body__table {
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas:
            ". p1 p2 p3 p4"
            "f2 d1 d2 d3 d4"
            "f1 pri1 pri2 pri3 pri4";

        .table__element {
            padding: 4rem;
            background-color: #fff;
        }
        @media only screen and (max-width: 950px) {
            .table__element {
                padding: 2rem;
            }
        }
        @media only screen and (max-width: 600px) {
            .table__element--feature {
                display: none !important;
            }
        }

        .product1 {
            grid-area: p1;
        }
        .product2 {
            grid-area: p2;
        }
        .product3 {
            grid-area: p3;
        }
        .product4 {
            grid-area: p4;
        }
        .feature1 {
            grid-area: f1;
        }
        .feature2 {
            grid-area: f2;
        }
        .duration1 {
            grid-area: d1;
        }
        .duration2 {
            grid-area: d2;
        }
        .duration3 {
            grid-area: d3;
        }
        .duration4 {
            grid-area: d4;
        }
        .price1 {
            grid-area: pri1;
        }
        @media only screen and (max-width: 600px) {
            .price1 {
                margin-bottom: 2rem;
            }
        }
        .price2 {
            grid-area: pri2;
        }
        @media only screen and (max-width: 600px) {
            .price2 {
                margin-bottom: 2rem;
            }
        }
        .price3 {
            grid-area: pri3;
        }
        .price4 {
            grid-area: pri4;
        }

        &--individual {
            grid-template-columns: repeat(5, 1fr);
            grid-template-rows: repeat(2, 1fr);
            grid-template-areas:
                ". p1 p2 p3 p4"
                "f2 d1 d2 d3 d4"
                "f1 pri1 pri2 pri3 pri4";

            @media only screen and (max-width: 600px) {
                .price3 {
                    margin-bottom: 2rem;
                }
            }
        }
        @media only screen and (max-width: 1100px) {
            &--individual {
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: repeat(5, 1fr);
                grid-template-areas:
                    ". f2 f1"
                    "p1 d1 pri1"
                    "p2 d2 pri2"
                    "p3 d3 pri3"
                    "p4 d4 pri4";
            }
        }
        @media only screen and (max-width: 600px) {
            &--individual {
                grid-template-columns: 100%;
                grid-template-rows: repeat(12, 1fr);
                grid-template-areas:
                    "p1"
                    "d1"
                    "pri1"
                    "p2"
                    "d2"
                    "pri2"
                    "p3"
                    "d3"
                    "pri3"
                    "p4"
                    "d4"
                    "pri4";
            }
        }

        &--corporate {
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(2, 1fr);
            grid-template-areas:
                ". p1 p2 p3"
                "f2 d1 d2 d3"
                "f1 pri1 pri2 pri3";
        }
        @media only screen and (max-width: 1100px) {
            &--corporate {
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: repeat(4, 1fr);
                grid-template-areas:
                    ". f2 f1"
                    "p1 d1 pri1"
                    "p2 d2 pri2"
                    "p3 d3 pri3";
            }
        }
        @media only screen and (max-width: 600px) {
            &--corporate {
                grid-template-columns: 100%;
                grid-template-rows: repeat(9, 1fr);
                grid-template-areas:
                    "p1"
                    "d1"
                    "pri1"
                    "p2"
                    "d2"
                    "pri2"
                    "p3"
                    "d3"
                    "pri3";
            }
        }
    }
    @media only screen and (max-width: 950px) {
        .body__table {
            font-size: 1.25rem;
        }
    }
}