.home {
    &__heading {
        margin: 0 -4rem;
        height: calc(100vh - 10rem);
        max-height: 80rem;
        color: $color-light-grey;
        position: relative;
    }

    .heading__background {
        background-image: 
            linear-gradient(to right, rgba(20, 30, 70, 0.7), rgba(250, 248, 237, 0.7)), 
            url("./../public/images/cloudy-bg_bigger.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 100%;
        width: 100%;
    }

    .heading__billboard {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    &__title {
        font-family: "Raleway";
        font-weight: 900;
        font-size: 12rem;
        text-transform: uppercase;
        
        @include regular-text-shadow-down(.75rem, #000);
    }

    &__subtitle {
        font-family: "Caveat-Bold";
        font-weight: 900;
        font-size: 6rem;
        font-style: italic;
        color: $color-dark-blue;
    }

    & .cta-button {
        margin-top: 4rem;
    }

    &__banner {
        text-align: center;
        margin: 0 auto 4rem;
    }

    .value-proposition {
        text-align: center;

        .introContainer {
            align-items: stretch;
            
            &__figure {
                // width: 30%;
                background-image: url("./../public/images/cristina-pro.jpg");
                /* background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                border-radius: 2rem; */
            }

            &__proposition {
                width: 67.5%;
                background-color: $color-dark-cream;
                border-radius: 2rem;
                padding: 2rem 0;
            }

            &__textbox {
                position: relative;
                top: -4rem;
                left: -10vw;
                text-align: left;
                background-color: #fff;
                border: 5px solid $color-dark-blue;
                padding: 2rem 4rem;
                
                & p:not(p:last-child) {
                    margin-bottom: 1rem;
                }

                &::before {
                    content: "";
                    background-color: #fff;
                    border-left: 5px solid $color-dark-blue;
                    border-bottom: 5px solid $color-dark-blue;
                    width: 2.5rem;
                    height: 2.5rem;
                    position: absolute;
                    top: 7.5rem;
                    left: -1.6rem;
                    transform: rotate(45deg);
                }
            }

            &__title {
                font-family: "Raleway";
                text-transform: uppercase;
                font-size: 3rem;
                font-weight: 700;
            }

            .proposition {
                flex: .95;
                margin-top: 2rem;
                width: 100%;
                font-family: "Raleway";
                font-weight: 700;

                &__container {
                    background-color: rgba(20, 30, 70, 0.5);
                    padding: 2rem;
                    font-size: 1.8rem;
                    border: 5px solid $color-dark-blue;
                    border-radius: 2rem;
                    width: 40%;
                    height: 100%;
                }

                &__title {
                    text-transform: uppercase;
                }

                &__icon {
                    width: 100%;
                    max-width: 10rem;
                    margin: 2rem 0;
                }

                &__element {
                    
                    &:not(.proposition__element:last-child) {
                        margin-bottom: 1.5rem;
                    }
                    &:hover {
                        color: $color-light-grey;
                        cursor: pointer;
                        @include minimal-text-shadow-up(.75rem, $color-light-grey);
                    }
                }
            }
        }
    }
}