.home {
    &__heading {
        margin: 0 -2rem;
        height: calc(100vh - 10rem);
        max-height: 80rem;
        color: $color-light-grey;
        background-image: url("./../public/images/cloudy-bg_big.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    &__title {
        font-family: "Raleway";
        font-weight: 900;
        font-size: 12rem;
        
        @include regular-text-shadow-down(.75rem, #000);
    }

    &__subtitle {
        font-family: "Raleway-Dots";
        font-weight: 900;
        font-size: 3rem;
        font-style: italic;
        text-transform: uppercase;
        color: #000;
    }

    &__banner {
        text-align: center;
        margin: 0 auto 4rem;
    }
}