.footer {
    background: linear-gradient(to right, $color-dark-blue, $color-light-grey);
    padding: 0 3rem;

    &__content {
        padding: 6rem 0;
    }
    @media only screen and (max-width: 950px) {
        &__content {
            flex-direction: column;

            .footer__nav {
                order: 1;
            }

            .subscribe-btn {
                order: 2;
                margin: 2rem 0;
            }

            .cta-button:last-child {
                order: 3;
            }
        }
    }

    &__logo {
        width: 100%;
        max-width: 4rem;
    }

    &__link:not(.footer__link:last-child) {
        margin-right: 2rem;
    }

    &__link:hover {
        cursor: pointer;
    }

    .link {
        &__icon {
            width: 100%;
            max-width: 7.5rem;
            transition: all .5s;

            &:hover {
                transform: scale(1.5);
            }
        }

        &__name {

        }
    }

    .cta-button {
        min-width: 25rem;
    }
}

.subfooter {
    background-color: #000;
    padding: 1rem 2rem;
    margin: 0 -3rem;
    font-family: "Raleway";
    font-size: 1.2rem;
    color: #fff;
    text-align: center;

    &__link:link, &__link:active, 
    &__link:visited, &__link:hover {
        color: #fff;
    }

    &__link:hover {
        cursor: pointer;
    }

    &__maker {
        font-family: "Russo-One";
        font-size: 2rem;
        margin-left: 1rem;
        margin-right: .5rem;
    }

    &__makerLogo {
        width: 100%;
        max-width: 3rem;
        position: relative;
        bottom: 1px;
    }
}