.footer {
    // background: linear-gradient(to bottom, $color-light-grey, $color-dark-blue 50%);
    background-color: $color-dark-blue;
    height: 20rem;

    &__logo {
        width: 100%;
        max-width: 4rem;
    }
}