.header {
    background: linear-gradient(to right, $color-dark-blue, $color-light-grey);
    position: fixed;
    width: 100%;
    padding: 1rem 2rem;

    &__logo {
        width: 100%;
        max-width: 8rem;
        position: relative;
        top: 2px;
    }

    & svg {
        display: none;
    }


    .nav {
        &__element:first-child {
            margin-left: 3rem;
        }

        &__element:not(.nav__element:last-child) {
            margin-right: 3rem;
        }

        &__link {
            font-size: 1.75rem;
            font-family: "Raleway";
            font-weight: 400;
            text-transform: uppercase;
            color: #fff;
            transition: all .5s;
        }
        
        &__link:hover {
            cursor: pointer;
            font-size: 2.25rem;
            font-weight: 800;
            @include minimal-text-shadow-up(3px, #fff);
            @include minimal-text-shadow-down(3px, #fff);
            @include minimal-text-shadow-left(3px, #fff);
            @include minimal-text-shadow-right(3px, #fff);
        }
    }

    &__langSelector {
        flex: .15;
        
        .langSelector {
            &__icon {
                width: 100%;
                max-width: 3rem;
                transition: all .2s;

                &:hover {
                    cursor: pointer;
                    max-width: 4rem;
                }
            }
        }
    }
}